@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /**
   * colors
   */
  
  --cadet-blue-crayola: hsl(227, 13%, 73%);
  --maximum-yellow-red: hsl(41, 95%, 61%);
  --medium-sea-green: hsl(142, 43%, 54%);
  --blue-crayola_10: hsla(222, 100%, 61%, 0.05);
  --smocky-black_30: hsla(0, 0%, 6%, 0.3);
  --eerie-black-1: hsl(240, 5%, 8%);
  --eerie-black-2: hsl(228, 9%, 10%);
  --raisin-black: hsl(225, 15%, 16%);
  --blue-crayola: hsl(222, 100%, 61%);
  --roman-silver: hsl(223, 10%, 52%);
  --presian-red: hsl(0, 64%, 52%);
  --gunmetal_50: hsla(230, 16%, 22%, 0.5);
  --gainsboro: hsl(0, 0%, 85%);
  --cultured: hsl(0, 0%, 93%);
  --white_50: hsla(0, 0%, 100%, 0.5);
  --white_30: hsla(0, 0%, 100%, 0.3);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --black_10: hsla(0, 0%, 0%, 0.1);
  --white: hsl(0, 0%, 100%);

  /**
   * gradient color
   */

  --gradient: linear-gradient(90deg, var(--white_10) 0px 77%, var(--white_50) 92%, transparent);

  /**
   * typography
   */

  --ff-dm-sans: 'DM Sans', sans-serif;

  --fs-1: 3.2rem;
  --fs-2: 3rem;
  --fs-3: 2.4rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.5rem;
  --fs-7: 1.4rem;
  --fs-8: 1.2rem;

  --fw-500: 500;
  --fw-700: 700;

  /**
   * spacing
   */

  --section-padding: 100px;

  /**
   * shadow
   */

  --shadow-1: 0px 4px 8px var(--black_10);
  --shadow-2: 0px 30px 10px -20px var(--smocky-black_30);
  --shadow-3: 0px 15px 10px -20px var(--smocky-black_30);

  /**
   * radius
   */

  --radius-12: 12px;
  --radius-24: 24px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

  --black:#000;
   --white:#ffffff;
   --lightgrey:#f1f1f1;
   --darkblue:#0d102c;
   --primarycolor:#3d51f2;
   --secondarycolor:#5670ef;
   --lightDark:#080A25;
   --darkText:#8388B4;

}



a,
img,
svg,
data,
span,
button,
ion-icon { display: block; }
a {
  text-decoration: none;
  color: inherit;
}
img { height: auto; }


button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}
ion-icon { pointer-events: none; }

address { font-style: normal; }

table { border-collapse: collapse; }

html {
  font-family: var(--ff-dm-sans);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--eerie-black-2);
  color: var(--cadet-blue-crayola);
  font-size: 1.6rem;
  line-height: 1.4;
}

body.active { overflow: hidden; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: hsl(220, 4%, 5%); }

::-webkit-scrollbar-thumb { background-color: hsl(220, 5%, 20%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(220, 5%, 30%); }

:focus-visible { outline-offset: 4px; }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.btn {
  color: var(--white);
  border-radius: 50px;
}

.btn-outline {
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  border: 1px solid var(--white);
  padding: 5px 15px;
  transition: var(--transition-1);
}

.btn-outline:is(:hover) {
  background-color: var(--blue-crayola);
  border-color: var(--blue-crayola);
}

.btn-outline1 {
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  border: 1px solid var(--white);
  padding: 5px 15px;
  transition: var(--transition-1);
}
.btn-outline1:is(:hover) {
  background-color: var(--blue-crayola);
  border-color: var(--blue-crayola);
}

.btn-primary {
  position: relative;
  background-color: var(--blue-crayola);
  max-width: max-content;
  font-weight: var(--fw-700);
  padding: 13px 30px;
  overflow: hidden;
  z-index: 1;
}

.btn-primary::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: -50px;
  background-image: var(--gradient);
  transform: translateX(-100%);
  opacity: 0;
  z-index: -1;
  transition: var(--transition-2);
}

.btn-primary:is(:hover, :focus)::after {
  transform: translateX(0);
  opacity: 1;
}

.section { padding-block: var(--section-padding); }

[data-section] > * {
  transform: translateY(50px);
  opacity: 0;
  transition: var(--transition-3);
}

[data-section].active > * {
  opacity: 1;
  transform: translateY(0);
}

.h1,
.h2,
.h3 {
  color: var(--white);
  line-height: 1.1;
}

.h1 { font-size: var(--fs-1); }

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.w-100 { width: 100%; }

.badge {
  color: var(--white);
  font-size: var(--fs-8);
  font-weight: var(--fw-700);
  padding: 4px 8px;
  border-radius: 50px;
}

.badge.red { background-color: var(--presian-red); }

.badge.green { background-color: var(--medium-sea-green); }

.last-update.red { color: var(--presian-red); }

.last-update.green { color: var(--medium-sea-green); }

.section-text {
  font-size: var(--fs-5);
  margin-block: 15px 35px;
}

.section-list { margin-block-end: 35px; }

.section-item:not(:last-child) { margin-block-end: 25px; }

.section-item .title-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block-end: 15px;
}

.section-item .title-wrapper ion-icon {
  flex-shrink: 0;
  color: var(--blue-crayola);
  font-size: 24px;
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--eerie-black-1);
  padding-block: 15px;
  z-index: 4;
}

.header.active {
  position: fixed;
  top: -66px;
  background-color: var(--white);
  border-block-start: 1px solid var(--cultured);
  box-shadow: var(--shadow-1);
  animation: slideIn 0.25s var(--cubic-out) forwards;
}

@keyframes slideIn {

  0% {
    transform: translateY(0);
    background-color: var(--white);
  }

  100% {
    transform: translateY(100%);
    background-color: var(--eerie-black-2);
  }

}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logo {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: var(--fw-700);
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-toggle-btn .line {
  width: 26px;
  height: 3px;
  background-color: var(--white);
  transition: var(--transition-1);
}

.nav-toggle-btn .line:not(:last-child) { margin-block-end: 4px; }

.nav-toggle-btn {
  padding: 8px 5px;
  margin-inline-start: auto;
}

.nav-toggle-btn.active .line-1 { transform: rotate(45deg) translate(5px, 6px); }

.nav-toggle-btn.active .line-2 { opacity: 0; }

.nav-toggle-btn.active .line-3 { transform: rotate(-45deg) translate(4px, -5px); }

.navbar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--eerie-black-1);
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
}

.navbar.active {
  max-height: calc(100vh - 63px);
  visibility: visible;
  transition-duration: 0.5s;
}

.navbar-item:not(:last-child) { border-block-end: 1px solid var(--white_30); }

.navbar-link {
  color: var(--white);
  font-weight: var(--fw-700);
  padding: 12px 30px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus, .active) { color: var(--blue-crayola); }
@media (min-width: 992px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 960px; }

  

  /**
   * HEADER
   */

  .header { padding-block: 5px; }

  .header.active { top: -60px; }

  .header > .container { gap: 50px; }

  .nav-toggle-btn { display: none; }

  .navbar,
  .navbar.active {
    all: unset;
    margin-inline-end: auto;
  }

  .navbar-list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  .navbar-item:not(:last-child) { border-block-end: none; }

  .navbar-link {
    font-size: var(--fs-7);
    padding: 15px 12px;
  }

  .navbar-link:is(:hover, :focus, .active) {
    background-color: var(--blue-crayola);
    color: var(--white);
  }

}

@media(min-width:1200px) {
  :root {

    /**
     * typography
     */

    --fs-1: 6.4rem;
    --fs-2: 4.8rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1280px; }



  /**
   * HEADER
   */

  .header.active { top: -64px; }

  .navbar-link { font-size: unset; }

}




/*Trend*/

.trend-tab {
  background-color: var(--eerie-black-2);
  border: 1px solid var(--raisin-black);
  border-radius: var(--radius-24);
  padding: 20px;
  box-shadow: var(--shadow-2);
  margin-block-start: -160px;
}

 .tab-nav {
  border-radius: var(--radius-24);
  background-color: var(--eerie-black-2);
  border: 1px solid var(--raisin-black);

  display:flex;
  flex-wrap: wrap;
  padding-block-end: 20px;
  margin-block-end: 20px;
  border-block-end: 1px solid var(--raisin-black);
}

 .tab-btn {
  background-color: var(--eerie-black-2);
  border: 1px solid var(--raisin-black);
  border-radius: var(--radius-24);
  color: var(--white);
  font-size: var(--fs-7);
  font-weight: var(--fw-700);
  padding: 7px 15px;
  border-radius: 50px;
  transition: var(--transition-1);
}

.trend-tab .tab-btn.active { background-color: var(--blue-crayola); }


/*MARKET*/



.market {
  background-color: var(--eerie-black-1);
  color: var(--white);
}

.market .title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-block-end: 25px;
}

.market .btn-link {
  position: relative;
  min-width: max-content;
  font-weight: var(--fw-700);
  transition: var(--transition-1);
}

.market .btn-link:is(:hover, :focus) { color: var(--blue-crayola); }

.market .btn-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--raisin-black);
  transition: var(--transition-1);
}

.market .btn-link:is(:hover, :focus)::after { background-color: var(--blue-crayola); }

.market-tab {
  overflow-x: auto;
  padding-block-end: 30px;
}

.market-tab::-webkit-scrollbar { height: 14px; }

.market-tab::-webkit-scrollbar-thumb {
  border: 2px solid hsl(220, 4%, 5%);
  border-width: 2px 10px;
}

.market-tab .tab-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-block-end: 40px;
}

.market-tab .tab-btn {
  min-width: max-content;
  color: var(--white);
  font-size: var(--fs-7);
  font-weight: var(--fw-700);
  padding: 7px 24px;
  border-radius: 50px;
}

.market-tab .tab-btn.active { background-color: var(--blue-crayola); }

.market-table { width: 100%; }

.table-heading,
.table-data { padding: 8px; }

.table-heading {
  font-size: var(--fs-5);
  text-align: left;
  white-space: nowrap;
}

.market-table .table-head { border-block-end: 2px solid var(--white); }

.table-row:not(.table-title) { height: 90px; }

.market-table .table-row {
  font-size: var(--fs-5);
  border-block-end: 1px solid var(--raisin-black);
  transition: var(--transition-1);
}

.market-table .table-body .table-row:is(:hover, :focus-within) {
  background-color: var(--blue-crayola_10);
}

.market-table .add-to-fav {
  color: var(--cadet-blue-crayola);
  font-size: 18px;
}

.market-table .add-to-fav.active .icon-outline,
.market-table .add-to-fav .icon-fill { display: none; }

.market-table .add-to-fav .icon-outline,
.market-table .add-to-fav.active .icon-fill { display: block; }

.market-table .add-to-fav.active ion-icon { color: var(--maximum-yellow-red); }

.market-table .wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: max-content;
}

.market-table .coin-name {
  font-size: var(--fs-5);
  display: flex;
  align-items: center;
  gap: 10px;
  transition: var(--transition-1);
}

.market-table .coin-name .span {
  color: var(--roman-silver);
  font-size: var(--fs-7);
}

.market-table .coin-name:is(:hover, :focus) { color: var(--blue-crayola); }

.market-table :is(.rank, .last-price, .market-cap) { font-weight: var(--fw-700); }

.market-table .btn-outline {
  border-width: 2px;
  padding-inline: 10px;
}


.popup1 .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background:rgba(255, 255, 255, 0.7);/* Dark blue background */
  z-index: 1;
  display: none;
}

.popup1 .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #0d102c; /* Dark blue background */
  color: #fff; /* White text */
  width: 430px;
  height: 300px;
  z-index: 2;
 
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.popup1 .closebtn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.popup1 h1{
      border-bottom: 2px solid white;
}

.popup1.active .overlay {
  display: block;
}

.popup1.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.transbtn {
  position: absolute;
  bottom: 10px;
  right: 20px;
  border-radius: 15px;
  height: 30px;
  width: 100px;
  color: white;
border: 2px solid white;
transition: var(--transition-1);
}

.transbtn:is(:hover, :focus) {
  background-color: var(--blue-crayola);
  border-color: var(--blue-crayola);
  color: #fff;
}

.popup1 #last-name, #date-time{
  margin-top: 10px;
  border-radius: 5px;
}

.popup1 #hour, #description{
 margin-top: 10px; 
 border-radius: 5px;
}




/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer-top {
  background-color: var(--eerie-black-1);
  padding-block: 80px 50px;
}

.footer-top .container {
  display: grid;
  gap: 50px;
}

.footer .logo { font-size: 3rem; }

.footer-title {
  color: var(--white);
  font-size: var(--fs-3);
  margin-block: 25px 20px;
}

.footer-contact-link:not(:last-child) { margin-block-end: 12px; }

address.footer-contact-link { max-width: 30ch; }

.footer-list-title {
  color: var(--white);
  font-size: var(--fs-7);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-list > li:not(:last-child) { margin-block-end: 10px; }

.footer-list > li:first-child { margin-block-end: 20px; }

.footer-link {
  color: var(--gainsboro);
  transition: var(--transition-1);
}

.footer-link:is(:hover, :focus) { color: var(--blue-crayola); }

.footer-bottom {
  background-color: var(--eerie-black-2);
  padding-block: 20px;
}

.copyright {
  text-align: center;
  margin-block-end: 20px;
}

.copyright-link {
  display: inline-block;
  color: var(--blue-crayola);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-link {
  font-size: 18px;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus) { color: var(--blue-crayola); }

@media (min-width: 768px) {

   /**
   * FOOTER
   */

   .footer-top .container { grid-template-columns: repeat(3, 1fr); }

   .footer-brand { grid-column: 1 / 3; }
 
   .footer-bottom .container {
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
 
   .copyright { margin-block-end: 0; }
}


@media (min-width: 1200px) {

  /**
   * FOOTER
   */

   .footer-top { padding-block: 100px 90px; }

   .footer-top .container { grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr; }
 
   .footer-brand { grid-column: auto; }

}


.button-group {
  position: relative ;
  top: 20px;
  right: 20px; /* Positioning at the top right corner */
  z-index: 1000; /* Ensure it's above other content */
  display: flex;
  margin-block-end: 35px;
}

.Tbutton {
  padding: 10px 15px;
  background-color:var(--blue-crayola);
  color: #fff;
  border: none;
  border-radius: 5px 0 0 5px; /* Rounded corners on left side */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Tbutton.middle {
  border-radius: 0; /* Reset border radius for the middle button */
}

.Tbutton:last-child {
  border-radius: 0 5px 5px 0; /* Rounded corners on right side */
}

.Tbutton.active {
  background-color: white; /* Active button color */
  color: black;
}

.Tbutton:hover {
  background-color: white; /* Active button color */
  color: black;
}